.header {
    width: 1280;
    position: static;
    object-fit: cover;  
}    
@font-face{
    font-family: "ab";
    src: url("gaseno_rounded/Gaseno-Normal.otf") format("opentype");

}
.subjudul{
    font-family: "ab";
     clear: both;
      display: block;
        margin-bottom: 30px;
        align-items: center;
}

 
           
.home {
    color: black;
     font-family: "ab";
    background: #fff;           
    padding: 15px 20px;          
    border-radius: 12px;        
    border: 2px solid #ccc;     
    width: fit-content;          
    max-width: 700px;          
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
     /* opsional: shadow */
      display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    font-family: "ab";

    
}

@font-face{
    font-family: "ab";
    src:url(start_story/Start\ Story.otf);
}

ul {
    list-style: none;
    background: #22438C;
    padding: 0px 0px;
    margin: 0px 0px;
    position:static;
    width: 1280px;
    height:120;
    align-items: center;
}

ul li {
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 0px 0px;
     margin-right: 70px;
}

ul li a {
    padding: 0px 0px;
    text-align: center;
        display: flex;

}

ul a:hover {
    background-color: palegoldenrod;
}
ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    background: #22438C;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown {
    display: block;
}
.column {
    float: left;
    padding: 0px 10px;
}

.column.side {
    margin: 170px 0px;
    width: 20%;
    background-color: hotpink;
      margin-top : 0;
    padding: 0;
}

.column.middle{
    margin: 170px 0px;
    width: 60%;
    background-color: #ebb9d0;
    margin : 0;
    padding: 0;

}

.container {
    display: flex;
    width: 100%;
    gap: 0;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 150px;
    margin: 0;
    padding: 0;
    
}
footer {
    width: 100%;
    text-align: center;
    margin-top: 40px; 
}

footer img {
    width: 1280px; 
    display: block;
    margin: 0 auto;
}
body {
    background: linear-gradient(to right,
        #ffe0f0,   
        #f7c8dc 20%,
        #f7c8dc 80%,
        #ffe0f0  
    );
}
.column.middle {
    display: flex;
    flex-wrap: wrap;        
    gap: 10px;               
    justify-content: center; 
}

.box {
    width: 18%;             
    aspect-ratio: 1 / 1;    
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;        
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.box img {
    width: 100%;             
    height: 100%;            
    object-fit: contain;     
    transform-origin: center center;
        transform: rotate(90deg);
        width: 100%;
    transition: transform 0.35s ease, box-shadow 0.35s ease;

}
.box:hover {
    transform: scale(1.06);
    box-shadow: 0 10px 25px rgba(80, 80, 140, 0.25);
}
.fix-rotate {
    width: 18%;              
    aspect-ratio: 1 / 1;   
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;        
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;


}
.fix-rotate img{
     width: 100%;             
    height: 100%;           
    object-fit: contain;     
    transform-origin: center center;
        transform: rotate(0deg);

}
.gallery-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    padding: 20px;
     background: rgba(255, 0, 0, 0.1);
}

.item {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1; /* bikin kotak persegi */
    overflow: hidden;
    border-radius: 12px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
        transform: rotate(90deg);

    
}

.item:hover img {
    filter: blur(5px) brightness(0.6);
}

.item .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    padding: 5px 10px;
    opacity: 0;
    transition: 0.4s;
}

.item:hover .info {
    opacity: 1;
}








