.pendidikan-essay {
    width: 90%;
    max-width: 900px;
    margin: 50px auto;

    background: linear-gradient(135deg, #ffffff 0%, #eef2ff 100%);
    padding: 35px 45px;

    border-radius: 40px 10px 40px 10px; 
    border: 1px solid #d6dafe;

    position: relative;
    font-family: "Georgia", serif;
    font-size: 17px;
    line-height: 1.9;
    color: #222;
    text-align: justify;
}

/* Ornamen garis vertikal elegan */
.pendidikan-essay::before {
    content: "";
    position: absolute;
    left: 18px;
    top: 20px;
    bottom: 20px;
    width: 6px;
    background: linear-gradient(180deg, #5165ff, #8796ff);
    border-radius: 10px;
    opacity: 0.8;
}

/* Aksen sudut */
.pendidikan-essay::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 120px;
    height: 120px;
    background: radial-gradient(circle at bottom right, #dfe3ff, transparent);
    border-bottom-right-radius: 40px;
}

body {
    background: linear-gradient(to right,
        #ffe0f0,   
        #f7c8dc 20%,
        #f7c8dc 80%,
        #ffe0f0  
    );
}
.footer {
    width: 1280px;
    position: sticky;
    margin: 270px 0px;
    
}
.header {
    width: 1280;
    position: static;
    object-fit: cover;  
}    
.home {
    color: black;
    font-family: "ab";
    background: #fff;
    padding: 50px;         
    width: 100%;           
    height: calc(100vh - 120px); 
    max-width: none;      
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.6;
    border-radius: 12px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    max-height: 200px;

    
}
ul {
    list-style: none;
    background: #22438C;
    padding: 0px 0px;
    margin: 0px 0px;
    position:static;
    width: 1280px;
    height:120;
    align-items: center;
}

ul li {
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 0px 0px;
     margin-right: 70px;
}

ul li a {
    padding: 0px 0px;
    text-align: center;
        display: flex;

}

ul a:hover {
    background-color: palegoldenrod;
}
ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    background: #22438C;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown {
    display: block;
}
h2{
    font-family: "ab";
     clear: both;
      display: block;
        margin-bottom: 30px;


}
@font-face{
    font-family: "ab";
    src:url(start_story/Start\ Story.otf);
}
footer {
    width: 100%;
    text-align: center;
    margin-top: 40px; 
}

footer img {
    width: 1280px; 
    display: block;
    margin: 0 auto;
}
